<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title #{nombrePagina}
        link(rel="stylesheet", href="/css/normalize.css")
        link(rel="stylesheet", href="/css/app.css")
    body
        header.barra
            a(href="/") 
                h1 UpTask - Administrador de Proyectos - #{year}
            a(href="#") Cerrar Sesión

        main.contenedor
            aside.contenedor-proyectos
                .panel.crear-proyecto
                    a(href="/nuevo-proyecto" class="boton") Nuevo Proyecto 
                .panel.lista-proyectos
                    h2 Proyectos
                    ul#proyectos.proyectos
                        if(proyectos.length)
                            each proyecto in proyectos
                                li
                                    a(href="#")= proyecto.nombre
                        else
                            h3 Sin proyectos
                                
                            

            block contenido


            pre= vardump(proyectos)